*{
   list-style: none;
    margin: auto;
    text-align: center;
    
}

.title{
    padding: 1%;
    border: 1px solid black;
    text-align: center; 
    font-size: 28px;
  
}
.registro-container{
    border: 12px blue;
    display: flex;
    padding: 2%;
}

.isquierda{
    display: left ;
    padding: 12px;
    border: 1px solid black;
    margin: 12px;  
}
.abajo{
    padding: 2;
}