
*{
    margin: 0%;
}
body{
    margin: 0;
    padding: 0;
    font-family: system-ui;
}

header{
    width: 100%;
    padding: 12px 0;
    background: #8756ca;
    color: white;
    text-align: center;
}
.dos{
background: #5567ca;
padding:  20px;   ; 
}
nav{
    padding: 0;
    background: #c73535;
    padding: 14px ;
}

footer img{
    width: 50%;
    height: 50%;
    
}