
body{
    margin: 0;
    padding: 0;
    font-family: system-ui;
}

header{
    width: 100%;
    padding: 12px 0;
    background: #8756ca;
    color: white;
    text-align: center;
}
.dos{
background: #5567ca;
padding:  20px; sold  ; 
}